body {
    padding-top: 70px;
}

input[type="text"].timesheet,
input[type="number"].timesheet,
input[type="date"].timesheet,
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;

}

input[type="text"].timesheet:focus,
input[type="number"].timesheet:focus,
input[type="date"].timesheet:focus,
select.form-control:focus {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;

}

input:focus::placeholder {
    font-style: italic;
}

.form-row {
    background: #dee0e2;

}


.timesheet {
    background: linear-gradient(to right, #7796CB 50%, transparent 85%);

}

.sub-label {
    background: #A3BCF9;
}

.info-header {
    background: #576490;
}

.misc-info {
    background: #eff3f7;
    border-left: 6px solid #7796CB;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.addTask {
    background: #A3BCF9
}

.deleteTask {
    background: red;
}