<%- include ('./partials/header') -%>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="display-1 text-center page-heading">ALM</h1>
      <hr class="hr" />
      <p class="text-muted text-center">
        American Land Management is based in Wilmington, NC. We specialize in
        both commercial and residential property maintenance. Renovation,
        restoration, demolition, custom designs, our team can do it all.
        Attention to detail and work ethic is what sets us apart from the rest.
      </p>
    </div>
  </div>
</div>

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Services</h1>
    </div>
    <div class="col-sm-12">
      <p class="text-center"></p>
    </div>
    <div class="col-sm-12 col-lg-4">
      <img
        class="bd-placeholder-img rounded-lg"
        width="100%"
        height="auto"
        src="/public/img/gallery/framing_inside.jpg"
        alt=""
      />
      <h2>Residential</h2>
      <p>No matter the need, our team will hav</p>
      <p>
        <a class="btn btn-secondary" href="#" role="button"
          >Residential Services &raquo;</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-sm-12 col-lg-4">
      <img
        class="bd-placeholder-img"
        width="100%"
        height="auto"
        src="/public/img/gallery/elijahs_siding.jpg"
        alt=""
      />
      <h2>Commercial</h2>
      <p>
        Our team is well-versed in the art of commercial property maintenance.
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button"
          >Commercial Services &raquo;</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-sm-12 col-lg-4">
      <img
        class="bd-placeholder-img"
        width="100%"
        height="auto"
        src="/public/img/gallery/pos_cabinet.jpg"
        alt=""
      />
      <h2>Custom</h2>
      <p>Need something highly specific? No problem.</p>
      <p>
        <a class="btn btn-secondary" href="#" role="button"
          >Custom Services &raquo;</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- START THE FEATURETTES -->

<!--    <hr class="featurette-divider">-->

<!--    <div class="row featurette">-->
<!--        <div class="col-md-7">-->
<!--            <h2 class="featurette-heading">Custom woodwork. <span class="text-muted">It’ll blow your mind.</span></h2>-->
<!--            <p class="lead">We've been doing this for a long time.</p>-->
<!--        </div>-->
<!--        <div class="col-md-5">-->
<!--            <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-pill" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500" src="/public/img/gallery/pos_cabinet.jpg" alt="">        </div>-->

<!--        <hr class="featurette-divider">-->

<!--        <div class="row featurette">-->
<!--            <div class="col-md-7 order-md-2">-->
<!--                <h2 class="featurette-heading">We even do fencing. <span class="text-muted">See for yourself.</span></h2>-->
<!--                <p class="lead">There really isn't much that we don't do.</p>-->
<!--            </div>-->
<!--            <div class="col-md-5 order-md-1">-->
<!--                <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-pill" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500" src="/public/img/gallery/fence.jpg" alt="">-->
<!--            </div>-->
<!--        </div>-->

<!--        <hr class="featurette-divider">-->

<!--        <div class="row featurette">-->
<!--            <div class="col-md-7">-->
<!--                <h2 class="featurette-heading">We even do fencing. <span class="text-muted">See for yourself.</span></h2>-->
<!--                <p class="lead">There really isn't much that we don't do.</p>-->
<!--            </div>-->
<!--            <div class="col-md-5">-->
<!--                <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-pill" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500" src="/public/img/gallery/fence.jpg" alt="">-->
<!--            </div>-->
<!--        </div>-->

<!--        <hr class="featurette-divider">-->

<!--        &lt;!&ndash; /END THE FEATURETTES &ndash;&gt;-->

<!--    </div>&lt;!&ndash; /.container &ndash;&gt;-->

<!-- FOOTER -->
</main>
<%- include ('partials/footer') -%>
