
<div id="czContainer">

    <div id="first">

    <div class="recordset">

    <input type="text" name="input 1" id="input 1">

    <input type="text" name="input 2" id="input 2">

    <input type="text" name="input 3" id="input 3">

    </div>
        <button class="btnPlus" id="btnPlus">f</button>

</div>
</div>
<script>$("#czContainer").czMore();
</script>

